html, body { 
height: 100%; 
margin: 0; 
padding: 0; 
}


#map{
	position:relative;
	left:-200px;
	top:-400px;
	width:900px;
	height:100%;
}

#chart{
}

#side-menu{
	background:yellow;
	font-family: 'Ubuntu', sans-serif;
	font-size:20px;
	position:relative;
	right:-200px;
	top:20px;
	display: block;
	float: right;
	height: 50%;
}

#weather{
       font-family: 'Lalezar', cursive;
       font-size:30px;
       color:red;


}

#school{
      position:relative;
      top:-700px;
      right:-1200px;
}
